apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-redis-sentinel-config
  labels:
    app: {{ .Release.Name }}-redis
data:
  sentinel.conf: |

    port 26379

    sentinel monitor mymaster 127.0.0.1 {{ .Values.redis.port }} 2


    sentinel down-after-milliseconds mymaster 5000

    
    sentinel failover-timeout mymaster 60000


    sentinel parallel-syncs mymaster 1

 
    sentinel resolve-hostnames yes
    sentinel announce-hostnames yes


    dir /data/sentinel
