image: 
  repository: beeruser/solo
  tag: "v4"
  pullPolicy: Always

replicaCount: 1 

ingress: 
  enabled: true 
  host: solo-k8s.local
  annotations: {} 
  paths: 
    - path: / 
      pathType: Prefix 

service: 
  port: 5000
  type: ClusterIP

hpa: 
  enabled: true 
  minReplicas: 1 
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80  
  scaleUpPercent: 100
  scaleUpPeriodSeconds: 60
  scaleDownPercent: 100
  scaleDownPeriodSeconds: 60
  scaleDownStabilizationWindowSeconds: 300
  

redis: 
  enabled: true
  port: 6379 

  image: 
    repository: redis 
    tag: "7.0-alpine"
  replicaCount: 1
  resources: 
    requests: 
      cpu: 10m 
      memory: 32Mi
    limits: 
      cpu: 50m 
      memory: 64Mi 

GREETING: "Hello form default"
